@{
    ViewData["Title"] = "Home Page";
}

<div class="home-page text-center">
    <h1 class="display-4 welcome-heading">Welcome to:</h1>
    <img src="~/images/HearyBeatLogo.png" alt="Project Logo" class="center-image" />
    <p class="intro-text">HeartyBeatApp is your ultimate companion for daily challenges, tracking progress, and healthy tips to keep your heart happy and healthy!</p>

    <section class="features-section">
        <h2 class="section-title">--------------- Features ---------------</h2>
        <div class="features-container">
            <div class="feature-item" id="daily-challenges">
                <h3>( ˶ˆᗜˆ˵ ) <br /> Daily Challenges</h3>
                <p>Do daily challenges to keep yourself healthy and earn rewards!</p>
                <div class="feature-info">
                    <p>Complete all daily challenges every day to keep yourself active and inspired. Then  use your luck on the cats gacha!! </p>
                </div>
            </div>
            <div class="feature-item" id="tracker">
                <h3>( ˶ˆᗜˆ˵ ) <br /> Tracker</h3>
                <p>Keep track of your progress with our easy-to-use tracker.</p>
                <div class="feature-info">
                    <p>Monitor your daily activities and health metrics, like heart rate, weight and heaight!</p>
                </div>
            </div>
            <div class="feature-item" id="healthy-tips">
                <h3>( ˶ˆᗜˆ˵ ) <br /> Healthy Tips</h3>
                <p>View tips to maintain a healthy lifestyle. Or you can add some yourself!</p>
                <div class="feature-info">
                    <p>Receive advice on diet, exercise, and mental health. Incorporate these tips into your daily routine for a healthier you.</p>
                </div>
            </div>
            <div class="feature-item" id="collection">
                <h3>( ˶ˆᗜˆ˵ ) <br /> Collection</h3>
                <p>Collect rewards as you complete daily challenges.</p>
                <div class="feature-info">
                    <p>Earn rewards for completing challenges and being healthy. Show off your collection and stay motivated.</p>
                </div>
            </div>
        </div>
    </section>

</div>

<br />
<br />
<br />
<br />
<br />
<br />
<hr />
<br />
<br />
<br />
<br />