@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Be respectful to others. Everybody makes their own progress.</p>
<p>Do not give up on your goals of healthy life!</p>
<p>Creators speaking here: We love you all!! <33</p>
<p>- Geri and Krisi! </p>
