@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<br />
<p>ᯓᡣ𐭩 Be respectful to others. Everybody makes their own progress.</p>
<p>ᯓᡣ𐭩 Do not give up on your goals of healthy life!</p>
<p>ᯓᡣ𐭩 Creators speaking here: We love you all!! <33</p>
<p>- Geri and Krisi! </p>
<br />
<hr />
<br />
<p>
    Welcome to HeartyBeat! :3. We are committed to protecting your personal information and your right to privacy.<br />
    This Privacy Policy explains how we collect, use and protect your information when you visit our<br />
    website [your website URL], use our services, or engage with us in any other way.<br />
    <br />
    <br />
    Information We Collect<br />
    Personal Data:<br />
    Contact Information: Name, email address.<br />
    Health Information: Your pulse tracks, wight and height.<br />
    Usage Data: Information on how you use our website, services, and interact with our content.<br />
    <br />
    <br />
    Non-Personal Data:<br />
    Technical Data: IP address. <br />
    <br />
    <br />
    We use the information we collect in the following ways:<br />

    We keep it a secret!: The only place your informtation will be written down is in the servers database.<br />
    For Research: To conduct research and analysis.<br />
    <br />
    <br />

    Your Rights<br />
    You have the right to:<br />

    Access Your Information: Request access to your personal data.<br />
    Correct Your Information: Request corrections to any inaccuracies in your personal data.<br />
    Delete Your Information: Request deletion of your personal data, subject to certain exceptions.<br />
    <br />
    <br />
    Cookies and Tracking Technologies<br />
    We use cookies and similar tracking technologies to track activity on our website and hold certain information. You can instruct your browser to refuse all cookies or to indicate when a cookie is being sent. However, if you do not accept cookies, you may not be able to use some portions of our site.<br />
    <br />
    <br />
    Contact Us<br />
    If you have any questions about this Privacy Policy, please contact us at:<br />
    <br />
    Email: ----------------
</p>
