@{
    ViewData["Title"] = "Healthy tips";
}

<h1>Healthy tips!</h1>
<p>Here are 25 little tips for everyone to improve the health of yoiur heart. <br />
    If you have more tips email us: ___ and we will add ur tips on our page!!</p>
<br />
<hr />
<br />

@*----------------------------DIET CHANGES---------------------------------------*@

<h1>Heart-healthy diet changes</h1>
<br />

<h3>⤷Manage excess body fat</h3>
<p>Research in the Journal of the American College of Cardiology has linked excess
    belly fat to higher blood pressure and unhealthy blood lipid levels. If you’re
    carrying extra fat around your middle, it may be time to make lifestyle adjustments.
    Eating fewer calories and watching your portion sizes more can make a big difference.</p>
<br />

<h3>⤷Include fiber into your diet</h3>
<p>
    According to the Mayo Clinic, a diet rich in soluble fiber can help lower your level
    of low-density lipoprotein, or “bad cholesterol.” Sources of soluble fiber include beans, oats, barley, apples, pears, and avocados.
</p>
<br />

<h3>⤷Make time for breakfast</h3>
<p>
    The first meal of the day is an important one. Eating a nutritious breakfast every
    day can help you maintain a healthy diet and weight. To build a heart-healthy meal, reach for:
    <br />
    - whole grains, such as oatmeal, whole-grain cereals, or whole-wheat toast<br />
    - lean protein sources, such as turkey bacon or a small serving of nuts or peanut butter<br />
    - fruits and vegetables<br />
</p>
<br />

<h3>⤷Eat fish</h3>
<p>
    Eating a diet rich in omega-3 fatty acids can also help ward off heart disease. Many fish,
    such as salmon, tuna, sardines, and herring, are rich sources of omega-3 fatty acids. <br />
    <br />
    Try to eat fish at least twice a week, suggests the AHATrusted Source. If you’re concerned
    about mercury or other contaminants in fish, you may be happy to learn that its heart-healthy
    benefits tend to outweigh the risks for most people.
</p>
<br />

<h3>⤷Eat nuts</h3>
<p>
    Almonds, walnuts, pecans, and other tree nuts deliver a powerful punch of heart-healthy fats, protein, and
    fiber. Including them in your diet can help lower your risk of cardiovascular disease. <br />
    <br />
    Remember to keep the serving size small, suggests the AHATrusted Source. While nuts are
    full of healthy stuff, they’re also high in calories.
</p>
<br />

<h3>⤷Limit your salt intake</h3>
<p>
    If the entire U.S. population reduced its average salt intake to half a teaspoon a day, it would
    significantly cut the number of people who developcoronary heart disease every year, report researchers
    in the New England Journal of Medicine. <br />
    <br />
    The authors suggest that salt is one of the leading drivers of rising healthcare costs in the United States. Processed
    and restaurant-prepared foods tend to be especially high in salt.
    <br />
    So think twice before filling up on your favorite fast-food fix. Consider using a salt substitute,
    such as Dash, if you have high blood pressure or heart failure.
</p>
<br />

<h3>⤷Reduce your saturated fat intake</h3>
<p>
    Slicing your saturated fat intake to no more than 7 percent of your daily calories can cut your risk of heart
    disease, advises the USDA. If you don’t normally read nutrition labels, consider starting today. Take stock of what
    you’re eating and avoid foods that are high in saturated fat. <br />
    <br />
    Instead, you can switch your unhealthy fat intake with healthy fats, such as avocados, olive oil, and eggs.
</p>
<br />

<h3>⤷Drink tea</h3>
<p>
    No magic is needed to brew a cup of green or black tea. According to the AHATrusted Source, drinking
    one to three cups of tea per day may help lower your risk of heart problems. For example, it’s linked to
    lower rates of angina and heart attacks.
</p>
<br />

<h3>⤷Eat dark chocolate</h3>
<p>
    Dark chocolate not only tastes delicious, it also contains heart-healthy flavonoids. These compounds help
    reduce inflammation and lower your risk of heart disease, suggest scientists in the journal Nutrients.<br />
    <br />
    Eaten in moderation, dark chocolate — not oversweetened milk chocolate — can actually be good for you.
    The next time you want to indulge your sweet tooth, sink it into a square or two of dark chocolate. No guilt required.
</p>
<br />
<hr />
<br />

@*------------------------------Incorporating exercise---------------------------------------*@