@model HeartyBeat.Data.Tracker

@{
    ViewData["Title"] = "Create";
}

<div class="container mt-5">
    <h1 class="mb-4">Create Tracker</h1>

    <h4>Tracker</h4>
    <hr />
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
                <div class="form-group">
                    <label asp-for="HeartRate" class="control-label"></label>
                    <input asp-for="HeartRate" class="form-control" placeholder="Enter your heart rate" />
                    <span asp-validation-for="HeartRate" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group">
                    <label asp-for="Weight" class="control-label"></label>
                    <input asp-for="Weight" class="form-control" placeholder="Enter your weight" />
                    <span asp-validation-for="Weight" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group">
                    <label asp-for="Height" class="control-label"></label>
                    <input asp-for="Height" class="form-control" placeholder="Enter your height" />
                    <span asp-validation-for="Height" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group">
                    <label asp-for="Steps" class="control-label"></label>
                    <input asp-for="Steps" class="form-control" placeholder="Enter your steps" />
                    <span asp-validation-for="Steps" class="text-danger"></span>
                </div>
                <br />
                <br />
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-custom-create" />
                    <a asp-action="Index" class="btn btn-custom-back ml-2">Back to List</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
