@{
    ViewData["Title"] = "Daily Challenges";
    var dailyChallenges = ViewBag.DailyChallenges as List<string>;
}

<h1>Daily Challenges</h1>

<ul>
    @foreach (var challenge in dailyChallenges)
    {
        <li>@challenge</li>
    }
</ul>
