@{
    ViewData["Title"] = "Daily Challenges";
    var dailyChallenges = ViewBag.DailyChallenges as List<string>;
}


<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
</head>


<h1>Daily Challenges</h1>
<br />
<hr />
<br />

<p>We have prepared 3 daily RANDOM challanges for you. Check the box whenever you have completed them!</p>
<p>And don't forget that we can not physically check wether you have done these challanges! It's all</p>
<p> up to your honesty and how much you value your own health! The challenges restart every day so </p>
<p>you have 24 HR to complete them! Don't rush and enjoy your life ♡ We love you all! Stay healthy!! </p>

<br />
<hr />
<br />

<ul>
    @foreach (var challenge in Model)
    {
        <li>
            <input type="checkbox" name="challenges" value="@challenge" />
            @challenge
        </li>
    }
</ul>
<button type="button" id="doneButton">Done</button>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $('#doneButton').click(function () {
            var checkboxes = $('input[type="checkbox"]');
            var allChecked = true;
            var challenges = [];

            checkboxes.each(function () {
                if (!this.checked) {
                    allChecked = false;
                } else {
                    challenges.push(this.value);
                }
            });

            if (allChecked) {
                $.ajax({
                    url: '/DailyChallenges/SaveProgress',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify(challenges),
                    success: function (response) {
                        if (response.success) {
                            Swal.fire({
                                title: 'Great job!',
                                text: "You've completed your challenges for the day. Keep up the good work!",
                                imageUrl: 'https://example.com/your-motivational-image.jpg',
                                imageWidth: 400,
                                imageHeight: 200,
                                imageAlt: 'Motivational Image',
                            });
                        }
                    },
                    error: function () {
                        Swal.fire({
                            title: 'Error',
                            text: 'There was an error saving your progress. Please try again.',
                            icon: 'error',
                        });
                    }
                });
            } else {
                Swal.fire({
                    title: 'Incomplete Challenges',
                    text: 'Please complete all challenges before marking them as done.',
                    icon: 'warning',
                });
            }
        });
    });
</script>